<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jordy.medico">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".finalizacion"></activity>
        <activity android:name=".comprobardisponibilidad" />
        <activity android:name=".condiciones" />
        <activity android:name=".horarios_cardiologia" />
        <activity android:name=".horarios_traumotologia" />
        <activity android:name=".anular_cita" />
        <activity android:name=".agendarcita" />
        <activity android:name=".inicio" />
        <activity android:name=".registrologin" />
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>